@import "../styles/variables.scss";

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ededed;
    margin: 0 10px;
    margin-bottom: 50px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 35%, rgba(0,212,255,1) 100%);
    img {
      max-height: 350px;
    }
} 

.specail_products {
      text-align: center;  
      li {
        display: inline-block;
        font-size: 14px;
      }
    }

