@import "../styles/variables.scss";

label {
    margin: 0;
}
// buttons
.temp_button {
    color: $black;
    padding: 5px 22px;
    border-radius: 18px;
    vertical-align: top;
    display: inline-block;
    background: transparent;
    border: 1px solid $main-color;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: $main-color;
        color: $white;
    }
}

// body overlay
.body_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}
.show_overlay {
    opacity: .7;
	visibility: visible
}
.hideIcons {
    opacity: 0 !important;
}