@import "../styles/variables.scss";

.instagram_Section {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 50px  30px;
    img {
        max-height: 300px;
    }
     div {
        &:nth-last-of-type(2) {
            margin: 0 15px;
        }
        &:nth-last-of-type(3) {
            margin-left:15px;
        }
    }
}