@import "../styles/variables.scss";
.top_collection {
    margin: 40px 0;
// start titles
  .top_collection-title {
      img {
        height: 60px;
        display: block;
        margin: 0 auto;
      }
  }
//   start tabs
  .top_collection-tabs {
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
      font-size: 22px;
      a {
          margin-left: 40px;
          cursor: pointer;
          &:first-of-type {
              margin: 0;
          }
          &:hover {
              color: $main-color;
          }
      }
  }
  // collection content
  .collection_content {
    .row {
      margin-top: 30px
    }
  }
  // collection button
  .top_collection-btn {
    margin : 30px 0;
    text-align: center
  }
}

/* MAKE IT CUTE ----- */
.tabs {
	position: relative;
	display: flex;
	min-height: 300px;
	border-radius: 8px 8px 0 0;
    height: 480px;
}

.tabby-tab {
	flex: 1;
}

.tabby-tab label {
	display: block;
	box-sizing: border-box;
	/* tab content must clear this */
		height: 40px;
	
	padding: 10px;
	text-align: center;
	// background: #9768D1;
	cursor: pointer;
	transition: background 0.5s ease;
	
}

// .tabby-tab label:hover {
// 	background: #7B52AB;
// }

.tabby-content {
	position: absolute;
	left: 0; bottom: 0; right: 0;
	/* clear the tab labels */
	top: 40px; 
	margin-top: 30px;
	border-radius: 0 0 8px 8px;
	transition: 
		opacity 0.8s ease,
		transform 0.8s ease		;
	
	/* show/hide */
		opacity: 0;
		transform: scale(0.1);
		transform-origin: top left;
	
}

.tabby-content img {
	float: left;
	margin-right: 20px;
	border-radius: 8px;
}


/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
    // border-bottom: 1px solid $main-color;
    color: $main-color;
    z-index: 2;
    width: fit-content;
    margin: 0 auto; 
}

[type=radio]:checked ~ label ~ .tabby-content {
	z-index: 1;
	/* show/hide */
	opacity: 1;
	transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
	.tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
	.tabs { min-height: 580px; }
	.tabby-tab label { 
		height: 60px;
	}
	.tabby-content { top: 60px; }
	.tabby-content img {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
}


