@import "../styles/variables.scss";
.top_collection {
    margin: 40px 0;
// start titles
  .top_collection-title {
      img {
        max-height: 60px;
        display: block;
		margin: 0 auto;
      }
  }
//   start tabs
  .top_collection-tabs {
      text-align: center;
      margin-top: 20px;
      font-weight: 600;
      font-size: 22px;
      a {
          margin-left: 40px;
          cursor: pointer;
          &:first-of-type {
              margin: 0;
          }
          &:hover {
              color: $main-color;
          }
      }
  }
  // collection content
  @media (max-height:992px) {
	margin: 20px 0;
  }
}
// collection button
.top_collection-btn {
    margin-bottom: 30px;
    text-align: center
  }

// TAB ~~~~~~~~~~~~~~~ (.)(.)
.tab {
	margin-bottom: 20px;
	position: relative;
	background: #fff;
	width: 90%;
	margin: 0 auto;
	line-height: 1.5;
	font-weight: 300;
	color: #000;
	@media (max-width: 768px) {
		width: 95%;
	}
	@media (min-width: 992px) and (min-width: 768.1px) {
		width: 80%;
	}
	
}


.tabs {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
	
	li {
		float: left;
		line-height: 38px;
		overflow: hidden;
		padding: 0;
		position: relative;
		@media (max-width: 768px) {
			width: 100%;
            text-align: center;
		}
	}

	a {
		padding: 0 30px;
		font-size: 23px;
		font-weight: 600;
		@media (max-width: 992px) {
			font-size: 20px;
		}
	}
	@media (max-width: 768px) {
		display: block;
	}
}

.tabs_item {
	display: none;
	padding: 30px 0;
	&:first-child {display: flex;flex-wrap: wrap;}
	.row {
	  margin-top: 40px;
	  &:first-of-type {
		  margin: 0;
	  }
	}

}

.current a {
	color: $main-color;
}

// END TAB ~~~~~~~~~~~~~~~ (.)(.)

