/* our sass varaibles
========================*/
$main-color :#e38888;
$second-color :#222222;
$icons-color :#828282;
$white: #fff;
$black : #000;
$top-header-hover :#e5e5e5;
$cart_two_bg: #f7f7f7;

$header: #5371e1;
$detail: #b2b2b2;
$highlight: #5371e1;